
body{
    margin: 0;
    padding: 0;

    /*フォント設定*/
    font-family: "M PLUS 1p", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, main, footer, nav, footer{display: block;}

a{text-decoration: none;}


ul, li{
    margin: 0;
    padding: 0;
    list-style: none;

}


/*ヘッダー-------------------------------------*/
header{
    background-color:rgba(243, 243, 209, 0.847);
    color: rgb(205, 0, 102);

    width: 100%;
    text-align: center;
    position: relative;
    padding: 6em 0 4em;

}

header h1,h2{
    margin: 10px 0;
}

header nav {
    background: rgba(208, 255, 0, 0.446);
	padding: 10px 0; 
	width: 100%;
	position: absolute;
	top:0;
}

header nav ul{
    margin: auto;
    text-align: center;
}

header nav ul li{
    display: inline-block;
    text-align: center;
}

header nav ul li a{
    color: #e50000;
    padding: 0 1em;
}

header nav ul li a:hover{
    /*アニメーションが完了するまでの時間*/
	transition-duration: 0.3s;

    text-decoration: underline #203aad;

    color:#203aad;

    /*不透明度*/
    /*opacity:0.5;*/
}

/*メインエリア-------------------------------------*/
.background{
    background-image: url(../img/oshi-border1-p8-1280x720.png);
    background-repeat: no-repeat;

    /* 画像を常に天地左右の中央に配置 */
    background-position: center;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    height: 100%;
    min-height:300px;
    max-height: 1500px;
    
}

main{
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 24px 0;
    height: auto;

    /*横並びの設定*/
    display: flex;
    flex-wrap:nowrap;


    background-color: #f4f5bd;

    /*color:rgb(205, 0, 102);*/
    
}



.donutsimg {
    margin-right: 20px;

    height: 450px;
    width: 450px;
}

.text{
    color: rgb(205, 0, 102);
}


.price_table{
    display: table;
}

.cell{
    display: table-cell;
}

.price{
    font-weight: bold;
    font-size: 24px;
}

.button{
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	padding: 1rem 6rem;
	font-weight: bold;
	border: 2px solid rgb(205, 0, 102);
	color: rgb(205, 0, 102);

	border-radius: 120vh;
	
    transition: 0.5s;

    padding: 1rem 6rem;
    margin-top: 50px;
}

.button:hover{
    color: #fff;
	background: rgb(205, 0, 102);
}

/*フッター-------------------------------------*/
footer{
    float: none;
    text-align: center;  
    padding: 20px 0;
    background-color:rgba(243, 243, 209, 0.847);
}


/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 750px) {

    header{
        margin: 0;
        padding: 15px 0;
    }

    .donutsimg{
        margin: 0;
        padding: 0;

        width: 100%;
        max-width: 450px;
        height: auto;
        max-height: 450px;

        margin: 0 10%;

    }


    main{
        display: flex;
        flex-direction:column;
        text-align: center;
        height: 100%;
    }

    .price_table{
        margin: auto;
    }

    .button{
        margin: 0 15%;
        padding: auto;
    }
}